body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
}

.generic-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.nav-bar {
    background-color: rgb(46, 46, 46);
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: center; /* Los alinea de forma horizontal*/
    align-items: center; /* Los alinea de forma vertical*/
    gap: 15px; /* Ajusta espacio entre items*/
    position: fixed;
}

.nav-link {
    height: 40%;
    padding: 5px 15px;
    display: flex; /* Junto con align-items permie que el texto se pueda centrar*/
    align-items: center; /* Junto con display flex permite centrar el texto de forma vertical*/
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: green;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Sin esto es muy brusco el cambio de background */
}

.nav-bar .nav-link:hover {
    background-color: lightgray;
    transition: background-color 0.3s ease; /* Suaviza cambio de color*/
}


.animation-container {
    flex: 1; /* Ocupa 1 parte del total*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-container {
    height: calc(100vh - 8vh);
    margin-top: 8vh;
    flex: 3; /* Ocupa 3 partes del total */
    display: flex; /* Permite que los elementos hijos puedan moverse*/
    flex-direction: column; /* Cambia el eje central a columna. Por defectl el flex es horizontal*/
    justify-content: flex-start; /* Permite que los elementos hijos se alineen desde el principio hacia el final*/
    align-items: center;
    overflow-y: auto; /* junto con flex-shink: 0 permite que los elementos no se aprieten y se pueda hacer scrolling*/
}

.section-container {
    height: 60vh;
    flex-shrink: 0;
    color: white;
}